<div class="modalWrapper" [class]="closing ? 'closing' : ''">
  <div class="backdrop" (click)="onCloseEvent()"></div>
  <div class="modal">
    <div class="header">
      <p>{{ modalMode === 'new' ? 'Create' : 'Update' }} {{ getTitle() }}</p>
      <app-button class="modalButton" icon="f00d" (onClick)="onCloseEvent()" [disabled]="closing" />
    </div>
    <form class="content" [formGroup]="activeTask">
      <div>
        <ng-select
          formControlName="type"
          [items]="TaskOptions"
          bindLabel="label"
          bindValue="value"
          placeholder="Select task type"
        >
        </ng-select>
        <div class="alertText" *ngIf="isValidField('type')">
          Please select a task type.
        </div>
      </div>

      <div>
        <div
          class="textfield"
          [class]="activeTask.get('title')?.value ? 'hasValue' : ''"
        >
          <input formControlName="title" type="text" />
          <p class="placeholder">Title</p>
        </div>
        <div class="alertText" *ngIf="isValidField('title')">
          Task title Required (3-100)
        </div>
      </div>

      <div>
        <div
          class="textfield textarea"
          [class]="activeTask.get('desc')?.value ? 'hasValue' : ''"
        >
          <textarea formControlName="desc" type="text"></textarea>
          <p class="placeholder">Description</p>
        </div>
        <div class="alertText" *ngIf="isValidField('desc')">
          Task description Required (15-1000)
        </div>
      </div>

      <div *ngIf="activeTask.get('type')?.value !== 'general'">
        <div
          class="textfield hasValue">
          <input formControlName="fromDate" type="datetime-local" />
          <p class="placeholder">Start Time</p>
        </div>
        <div class="alertText" *ngIf="isValidField('fromDate')">
          Start Time Required
        </div>
      </div>

      <div *ngIf="activeTask.get('type')?.value !== 'general'">
        <div
          class="textfield hasValue">
          <input formControlName="toDate" type="datetime-local" />
          <p class="placeholder">End Time</p>
        </div>
        <div class="alertText" *ngIf="isValidField('toDate')">
          End Time Required
        </div>
      </div>

      <div class="controls" [class]="modalMode">
        <app-button *ngIf="modalMode === 'edit'" class="modalButton danger" icon="f2ed" label="Delete" (onClick)="onCloseEvent()" [disabled]="closing" />
        <app-button class="modalButton" icon="f00c" [label]="modalMode === 'new' ? 'Create' : 'Update'" (onClick)="onSubmitEvent()" [disabled]="!activeTask.valid" />
      </div>
    </form>
  </div>
</div>
