<div class="modalWrapper" [class]="closing ? 'closing' : ''">
  <div class="backdrop" (click)="onCloseEvent()"></div>
  <div class="modal">
    <div class="header">
      <p>{{ label }}</p>
      <app-button icon="f00d" (onClick)="onCloseEvent()" [disabled]="closing" />
    </div>
    <form class="content" [formGroup]="activeTask" (ngSubmit)="onSubmit()">
      <div>
        <ng-select
          formControlName="type"
          [items]="TaskOptions"
          bindLabel="label"
          bindValue="value"
          placeholder="Select task type"
        >
        </ng-select>
        <div class="alertText" *ngIf="isValidField('type')">
          Please select a task type.
        </div>
      </div>

      <div>
        <div
          class="textfield"
          [class]="activeTask.get('title')?.value ? 'hasValue' : ''"
        >
          <input formControlName="title" type="text" />
          <p class="placeholder">Task Title</p>
        </div>
        <div class="alertText" *ngIf="isValidField('title')">
          Please provide a task title.
        </div>
      </div>
    </form>
  </div>
</div>
