.modalWrapper {
  $duration: 0.15s;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 90%);
    animation: fadeIn $duration ease-out forwards;
  }

  .modal {
    position: absolute;
    top: 16px;
    right: 0;
    width: 400px;
    height: calc(100% - 32px);
    background: var(--colorBackgroundSecondary);
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    overflow: hidden;
    animation: slideIn $duration ease-out forwards;

    .header {
      width: 100%;
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;

      .button {
        background: red !important;
      }

      p {
        font-size: 24px;
			  font-variation-settings: "wdth" 75, "wght" 300;
        user-select: none;
      }
    }
  }

  &.closing {
    .backdrop {
      animation: fadeOut $duration ease-out forwards;
    }
    .modal {
      animation: slideOut $duration ease-out forwards;
    }
  }

  @keyframes slideIn {
    0% { translate: 450px; }
    100% { translate: -16px; }
  }
  @keyframes slideOut {
    0% { translate: -16px; }
    100% { translate: 450px; }
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
}
