.main {
  $duration: 0.15s;
  width: 100%;
  height: 100%;

  > .header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    z-index: 5;
    transition: all 0.3s ease-out;

    .head {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 64px 48px 24px 48px;
      gap: 8px;
      transition: all 0.3s ease-out;

      > p {
        font-size: 34px;
        font-variation-settings: "wdth" 75, "wght" 300;
        color: var(--colorContentPrimary);
        user-select: none;
        margin: 0 auto 0 0;
        transition: all 0.3s ease-out;
      }
    }

    .ng-select {
      width: 300px;
    }

    .backdrop {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgb(0 0 0 / 60%);
      z-index: 10;
      animation: fadeIn $duration ease-out forwards;
    }

    .filterModal {
      position: absolute;
      right: 48px;
      bottom: -372px;
      width: 600px;
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      background: var(--colorBackgroundTertiary);
      box-shadow: 0 16px 16px -16px rgb(0 0 0 / 50%);
      transition: all 0.3s ease-out;
      animation: showDropDown $duration ease-out forwards;
      z-index: 11;

      > .filterHeader {
        position: relative;
        width: 100%;
        padding: 24px 24px 0 24px;
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
        font-variation-settings: "wdth" 75, "wght" 300;
      }

      > .filterContent {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 24px;
        gap: 8px;

        ng-select {
          width: 100%;
        }

        .filterDates {
          display: flex;
          gap: 8px;

          > div {
            flex: 1;
          }
        }

        .filterControls {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: flex-end;
          padding: 16px 0 0 0;

          .modalButton {
            position: relative;
            width: auto;

            &.danger {
              margin-right: auto;
            }
          }
        }
      }
    }

    > .taskHeader {
      position: relative;
      width: 100%;
      display: grid;
      grid-template-columns: 60px 1fr 0.9fr 1.8fr 0.8fr 0.8fr;
      gap: 16px;
      padding: 8px 72px;
      margin-top: 24px;
      transition: all 0.3s ease-out;

      &::before {
        content: '';
        position: absolute;
        inset: 0 48px 0 48px;
        border: 1px solid var(--colorBackgroundTertiary);
        background-color: var(--colorBackgroundSecondary);
        border-radius: 8px;
        opacity: 0.98;
        z-index: -1;
        transition: all 0.3s ease-out;
      }

      p {
        margin: 0;
        text-transform: uppercase;
      }
    }

    &.float {
      box-shadow: 0 16px 16px -16px rgb(0 0 0 / 50%);
      .head {
        padding: 24px 48px 24px 48px;
        background: var(--colorBackgroundSecondary);

        > p {
          font-size: 28px;
          font-variation-settings: "wdth" 75, "wght" 400;
        }
      }

      .filterModal {
        bottom: -400px;
      }

      > .taskHeader {
        margin-top: 0px;
        &::before {
          inset: 0 0 0 0;
          border-radius: 0px;
          border: 1px solid transparent;
          background-color: var(--colorBackgroundTertiary);
        }
      }
    }

    &.closing {
      .backdrop {
        animation: fadeOut $duration ease-out forwards;
      }
      .filterModal {
        animation: hideDropDown $duration ease-out forwards;
      }
    }
  }

  .tasks {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 216px 48px 124px 48px;

    .task {
      position: relative;
      width: 100%;
      padding: 16px 24px;
      border-radius: 8px;
      border: 1px solid var(--colorBackgroundTertiary);
      background-color: var(--colorBackgroundSecondary);
      display: grid;
      grid-template-columns: 60px 1fr 0.9fr 1.8fr 0.8fr 0.8fr;
      align-items: center;
      gap: 16px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        border-radius: 8px;
        transition: all 0.2s ease-out;
      }

      p {
        position: relative;
        height: fit-content;
        margin: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-variation-settings: "wdth" 75, "wght" 300;
      }

      &:hover {
        &::before {
          background: rgb(var(--colorBrandAccentRgb) / 0.1);
        }
      }

      &.active {
        &::before {
          background: rgb(var(--colorBrandAccentRgb) / 0.3);
        }
      }
    }
  }

  .loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--colorBackgroundPrimary);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    > span {
      width: 60px;
      height: 60px;
      border: 4px solid rgb(var(--colorBrandAccentRgb));
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-radius: 9999px;
      animation: spinner 0.2s linear infinite;
    }
  }
}

@keyframes showDropDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes hideDropDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spinner {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 180deg;
  }
}
