<main class="main">
  <header class="header" [class]="floatHeader ? 'float' : ''">
    <div class="head">
      <p>Task Management</p>
      <app-button label="New Task" icon="2b" (onClick)="onNewTask()" />
    </div>
    <div class="controls">
      <app-button label="Filter" icon="e17c" (onClick)="toggleFilter()" />
      <ng-select
        class="filterSelect"
        [items]="SortOptions"
        bindLabel="label"
        bindValue="value"
        placeholder="Select sort mode"
        [clearable]="false"
        [(ngModel)]="sortMode"
      />
    </div>
    <div *ngIf="showFilter" class="backdrop" (click)="toggleFilter()"></div>
    <div *ngIf="showFilter" class="filterModal">
      <div class="filterHeader">Filter</div>
      <form class="filterContent" [formGroup]="activeFilter">
        <div>
          <ng-select
            formControlName="type"
            [items]="TaskOptions"
            bindLabel="label"
            bindValue="value"
            placeholder="Select task type"
            [multiple]="true"
            [closeOnSelect]="false"
          />
        </div>

        <div>
          <div
            class="textfield"
            [class]="activeFilter.get('title')?.value ? 'hasValue' : ''"
          >
            <input formControlName="title" type="text" />
            <p class="placeholder">Title</p>
          </div>
        </div>

        <div>
          <div
            class="textfield"
            [class]="activeFilter.get('desc')?.value ? 'hasValue' : ''"
          >
            <input formControlName="desc" type="text" />
            <p class="placeholder">Description</p>
          </div>
        </div>

        <div>
          <div
            class="textfield"
            [class]="activeFilter.get('assigned')?.value ? 'hasValue' : ''"
          >
            <input formControlName="assigned" type="text" />
            <p class="placeholder">Assigned To</p>
          </div>
        </div>

        <div class="filterDates">
          <div>
            <div
              class="textfield hasValue">
              <input formControlName="fromDate" type="datetime-local" />
              <p class="placeholder">Start Time</p>
            </div>
          </div>

          <div>
            <div
              class="textfield hasValue">
              <input formControlName="toDate" type="datetime-local" />
              <p class="placeholder">End Time</p>
            </div>
          </div>
        </div>

        <div class="filterControls">
          <app-button class="modalButton" icon="f00c" label="Apply" />
        </div>
      </form>
    </div>
  </header>
  <section class="tasks">
    <div class="task" *ngFor="let task of getFilteredTasks(); let i = index" (click)="onEditTask(task, i)">
      <app-icon class="taskIcon" [code]="getTaskIcon(task.type)" type="duotone" />
      <p>{{ task.title }}</p>
      <p>{{ task.assigned }}</p>
      <p>{{ task.desc }}</p>
      <p>{{ getReadableDate(task?.createDate) }}</p>
      <p>{{ getReadableDate(task?.updateDate) }}</p>
    </div>
  </section>
  <app-modal
    *ngIf="modalMode !== 'closed'"
    [activeTask]="activeTask"
    [modalMode]="modalMode"
    (onSubmit)="onSubmit()"
    (onClose)="closeModal()"
  />
</main>

<router-outlet></router-outlet>
