.main {
  width: 100%;
  height: 100%;

  .header {
    position: fixed;
		top: 0;
		width: 100%;
		height: 160px;
		padding: 0 48px;
		display: flex;
		align-items: center;
		z-index: 2;
		transition: all 0.3s ease-out;

    > p {
      font-size: 34px;
			font-variation-settings: "wdth" 75, "wght" 300;
			margin-right: auto;
			user-select: none;
			transition: all 0.3s ease-out;
    }
  }
}
