@use "sass:list";

@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@100..700&display=swap";
@import "@ng-select/ng-select/themes/default.theme.css";
@import "./app/styles/_fontAwesome.scss";
@import "./app/styles/_colors.scss";
@import "./app/styles/_select.scss";
@import "./app/styles/_shadowRipple.scss";
@import "./app/styles/_textfield.scss";

html {
  @include systemScheme;
  @include colors;

  * {
    font-variation-settings: "wdth" 75, "wght" 500;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
  }

  background: var(--colorBackgroundPrimary);
  scroll-behavior: smooth;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}

html,
body {
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.ng-dropdown-panel {
  margin-top: 8px !important;
  border: none !important;
  border-radius: 4px 4px 24px 24px !important;
  background: var(--colorBackgroundSecondary) !important;
  box-shadow: 0 0 0 2px rgb(var(--colorBrandAccentRgb) / 50%) !important;
  overflow: hidden;
  animation: showDropDown 0.2s ease-out both;

  * {
    background: transparent !important;
  }


  .ng-option {
    padding: 12px 18px !important;
    background: var(--colorBackgroundPrimary) !important;

    &.ng-option-marked {
      background: var(--colorBackgroundSecondary) !important;
    }
    &.ng-option-selected {
      background: rgb(var(--colorBrandAccentRgb) / 50%) !important;
    }

    &:first-child {
      padding-top: 16px !important;
    }
    &:last-child {
      padding-bottom: 16px !important;
    }
  }

  @keyframes showDropDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
