@use "sass:list";
@use "./app/styles/colors" as *;
@use "./app/styles/select";
@use "./app/styles/shadowRipple";
@use "./app/styles/textfield";

@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@100..700&display=swap";
@import url('https://cdn.jsdelivr.net/gh/itzzjarvis/Assets@main/styles/fa/fa.css');
@import "@ng-select/ng-select/themes/default.theme.css";

html {
  @include systemScheme;
  @include colors;

  * {
    font-variation-settings: "wdth" 75, "wght" 500;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
  }

  background: var(--colorBackgroundPrimary);
  scroll-behavior: smooth;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}

html,
body {
  position: relative;
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  overflow-y: auto;
}
